/* .Image{
position: relative;
}

.Image img{
    position: absolute;
    margin-left: -6.2rem;
}
.delete{
margin-left: 10rem;
} */

.avatar{
    border: 2px solid blue;
    width: 100px;
    height: 100px;
    margin-left: 2rem;
    margin-right: 3rem;
  }
.button-1{
    margin-top: "-3rem";
}

/* @media screen and (max-width:588px)and (min-width: 250px){
   
.avatar {
    border: 2px solid blue;
    width: 80px;
    height: 80px;
    margin-left: 2rem;
    margin-right: 3rem;
  }
    
   } */
