/* @media only screen and (max-width: 768px) {
    div {
      width: 45%;
      margin: 5px;
    }
  }
  @media only screen and (max-width: 576px) {
    div {
      width: 90%;
      margin: 5px;
    }
  } */