.mybutton{
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    text-transform: initial;
}

@media screen and (max-width: 420px){
    .mybutton{
        padding-left: 0;
    padding-right:0;
        text-transform: initial;
    }
    }